<%= form_with(:model => post, :local => true) do |form|%>
    <%= content_tag(:div, :class => "form-group") do -%>
        <%= form.label(:genre) %><br>
        <%= form.select(:genre, options_for_select([['Humor','Humor'],
            ['Game','Game'], ['News','Gews'], ['Issue','Issue'], ['Animal','Animal']], post.genre)) %>
    <% end -%>
    

    <%= content_tag(:div, :class => "form-group") do -%>
        <%= form.label(:Title) %><br>
        <%= form.text_field(:title, :class => "form-control")%>
    <% end -%>

    <%= content_tag(:div, :class => "form-group") do -%>
        <%= form.label(:Text) %><br>
        <%= form.cktext_area(:text, :class => "form-control")%>
    <% end -%>

    <div class="actions">
        <%= form.submit "post",:class => "btn btn-primary", :page => @page %>
    </div>
    <%= @page %>
<% end %>