<%= form_with(:model => post, :local => true) do |form|%>

    <div class = "group">
        <%= form.label(:genre) %><br>
        <%= form.select(:genre, options_for_select([['Humor','Humor'],
            ['Game','Game'], ['News','News'], ['Issue','Issue'], ['Animal','Animal']], post.genre)) %>
    </div>
    <div class = "group">
        <%= form.label(:Title) %><br>
        <%= form.text_field(:title, :class => "form-control")%>
    </div>

    <div class = "group">
        <%= form.label(:Text) %><br>
        <%= form.cktext_area(:text, :class => "form-control")%>
    </div>

    <div class="actions">
        <%= form.submit "post",:class => "btn btn-primary", :page => @page %>
    </div>
    <%= @page %>
    
<% end %>