<h1> search : <%= @search %></h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="text-center">Genre</th>
      <th scope="col" class="text-center">Title</th>
      <th scope="col" class="text-center">Author</th>
      <th scope="col" class="text-center">Date</th>
      <th scope="col" class="text-center">View </th>
    </tr>
  </thead>
  
  <tbody>
    <% @posts.each do |post| %>
      <% if post.id == @post_id.to_i%>
        <tr bgcolor="#ddd">
      <% else%>
        <tr>
      <%end%>
        <th scope="col" class="text-center"> <%= Genre.find(post.genre_id).name %></th>
        <td scope="col" class="text-center"> <%= link_to post.title, :controller => "posts", :action => "show",:page_id => @page_id, :post_id => post.id,  :search => @search %></td>
        <td scope="col" class="text-center"> <%= User.find(post.author_id).user_id %> </td>
        <td scope="col" class="text-center"> <%= post.created_at.localtime.strftime("%Y-%m-%d") %> </td>
        <td scope="col" class="text-center"> <%= post.view_count %> </td>
        <% @start_post_id = @start_post_id.to_i - 1%>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @first_page > 1%>
  <%= link_to "<" , {:controller => "posts", :action => "search",:search => @search, :page_id => @first_page.to_i - @page_per_sheet}%>
<%end%>
<% for page_id in @first_page..@last_page%>
  <% if page_id == @page_id.to_i%>
    <%= link_to (raw "<strong>#{page_id}</strong>") , {:controller => "posts", :action => "search", :search => @search, :page_id => page_id}%>
  <% else%>
    <%= link_to page_id , {:controller => "posts", :action => "search",:search => @search, :page_id => page_id}%>
  <% end%>
<% end%>
<% if @last_page < @total_page%>
  <%= link_to ">" , {:controller => "posts", :action => "search",:search => @search,  :page_id=> (@last_page.to_i+1)}%>
<%end%>