<h1>Posts#edit</h1>

<%= form_tag(:controller => "posts", :action => "update", :post_id => @post.id, :page => @page) do %>
    <%= content_tag(:div, :class => "form-group") do -%>
        <%= label_tag "genre" %><br>
        <%= select_tag(:genre, options_for_select([['Humor','humor'],
            ['Game','game'], ['News','news'], ['Issue','issue'], ['Animal','animal']], @post.genre)) %>
    <% end -%>

    <%= content_tag(:div, :class => "form-group") do -%>
        <%= label_tag "title" %><br>
        <%= text_field_tag(:title,@post.title, :class => "form-control") %>
    <% end -%>

    <%= content_tag(:div, :class => "form-group") do -%>
        <%= label_tag "text" %><br>
        <%= text_area_tag(:text , @post.text,  :class => "form-control")%>
    <% end -%>

    <%= submit_tag("Edit", :class => "btn btn-primary")%>
<% end %>