<h1> new </h1>

<%= form_tag("/posts/create", method: "post") do%>

    <%= content_tag(:div, class:"form-group") do -%>
        <%= label_tag(:genre, "Genre") %><br>
        <%= select_tag(:genre, options_for_select([['Humor','humor'],
            ['Game','game'], ['News','news'], ['Issue','issue'], ['Animal','animal']])) %>
    <% end -%>
    

    <%= content_tag(:div, class:"form-group") do -%>
        <%= label_tag(:title, "Title") %><br>
        <%= text_field_tag(:title,"", class: "form-control")%>
    <% end -%>

    <%= content_tag(:div, class:"form-group") do -%>
        <%= label_tag(:text, "Text") %><br>
        <%= text_area_tag(:text,"", class: "form-control")%>
    <% end -%>

    <%= submit_tag("Post", class: "btn btn-primary")%>
<% end %>