<div class="col-lg-12">
    <!-- Title -->
     <h3> <%= @post.genre %> </h3>
     <h1 class="mt-4 text-center" > <%= @post.title %> </h1>

    <p class="lead text-right">
        <% if @post_author.image.attached? %>
            <%= image_tag(@post_author.image, :class => "mr-4 rounded-circle", :width => 50, :height => 50)%>
        <% else%>
            <%= image_tag("http://placehold.it/50x50", :class => "mr-4 rounded-circle", :width => 50, :height => 50)%>
        <% end%>

        <%= @post_author.user_id %>   
    </p>
    <p class="text-right" > <%= @post.created_at.localtime.strftime("%Y-%m-%d %H:%M")%> </p>
    <hr>

    <%= raw @post.text %>

    <hr>

    <!-- Add Comments Form -->
    <% if current_user%>
        <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
            <%= form_tag(:controller => "comments", :action => "create", :post_id => @post.id, :page => @page) do %>
                <%= content_tag(:div, :class => "form-group") do -%>
                    <%= text_area_tag( :body, "", :class => "form-control", :rows => "3")%>
                <% end%>
                <%= submit_tag("Comment", :class => "btn btn-primary")%>
            <% end%>
            </div>
        </div>
    <%end%>

    <!-- Comment List -->
    <% @comments.each do |comment| %>
        <% @commenter = User.find(comment.commenter_id)%>
        <div class="media mb-4">
            <% if @commenter.image.attached? %>
                <%= image_tag(@commenter.image, :class => "d-flex mr-5 rounded-circle", :width => 50, :height => 50)%>
            <% else%>
                <%= image_tag("http://placehold.it/50x50", :class => "d-flex mr-5 rounded-circle", :width => 50, :height => 50)%>
            <% end%>
            <div class="media-body">
                <h5 class="mt-0 push-left" > <%= @commenter.user_id%></h5>
                <p><%= comment.body%></p>
                <div class="text-right">
                    <a><%= comment.created_at.localtime.strftime("%Y-%m-%d %H:%M")%></a>
                    <% if current_user %>
                        <% if current_user.id == @commenter.id%>
                            <a> <%= link_to "delete", {:controller => "comments", :action => "destroy", :comment_id => comment.id, :post_id => @post.id, :page => @page} %></a>
                        <% end%>
                    <%end%>
                </div>
            </div>
        </div>
    <% end %>
</div>

<% if current_user%>
    <% if @post.author_id == current_user.id%>
        <%= link_to "edit", :controller => "posts", :action => "edit", :post_id => @post.id, :page => @page%>
        <%= link_to "delete", :controller => "posts", :action => "destroy", :post_id => @post.id, :genre => @post.genre, :page => @page,   
              :method => :delete, :data => { :confirm => 'Are you sure?' } %>
    <% end %>
<% end %>
<br>
<br>


<% if @search %>
    <%= render 'show_search_index_form'%>
<% else%>
    <%= render 'show_genre_index_form'%>
<% end%>