<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <%#
    materialize css, js
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
    %>
    
    
    <!-- bootstrap css, js-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>

  <body>

    <nav class="navbar navbar-dark bg-dark justify-content-center">
      <span class="navbar-brand mb-0 h1">
        <%= link_to "Ruby Site", {controller: "home", action: "index"}, class: "nav-link text-white"%>
      </span>
    </nav>
    <nav class="navbar navbar-dark bg-dark justify-content-center ">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <%= link_to "Humor", {:controller => "posts", :action => "index", :genre => "humor"}, class: "nav-link text-white"%>
        </li>
        <li class="nav-item">
          <%= link_to "Game", {controller: "posts", action: "index", :genre => "game"}, class: "nav-link text-white"%>
        </li>
        <li class="nav-item">
          <%= link_to "News", {controller: "posts", action: "index", :genre => "news"}, class: "nav-link text-white"%>
        </li>
        <li class="nav-item">
          <%= link_to "Issue", {controller: "posts", action: "index", :genre => "issue"}, class: "nav-link text-white"%>
        </li>
        <li class="nav-item">
          <%= link_to "Animal", {controller: "posts", action: "index", :genre => "animal"}, class: "nav-link text-white"%>
      </ul>
    </nav>


    <div class = "container">
      <div class="row">
        <div class = "col-lg-8">
          <%= yield %>
        </div>

        <div class = "col-lg-4">
          <%= form_tag("/users/login", method: "get") do%>

            <%= content_tag(:div, class:"form-group") do -%>
              <%= label_tag(:loginID, "ID") %><br>
              <%= text_field_tag(:loginID,"", class: "form-control")%>
            <% end -%>

            <%= content_tag(:div, class:"form-group") do -%>
              <%= label_tag(:loginPW, "Password") %><br>
              <%= text_field_tag(:loginPW,"", class: "form-control")%>
            <% end -%>

            <%= submit_tag("Login", class: "btn btn-primary")%>
          <% end %>
          <div class="dropdown-divider"></div>
          <%= link_to "New around here? Sign up", {:controller => "users", :action => "new"}, class: "dropdown-item"%>
          <%= link_to "Forgot password?", {:controller => "users", :action => "forgotPW"}, class: "dropdown-item"%>
        </div>
      </div>
    </div>

    <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright © Inje Website 2019</p>
    </div>
  </footer>
  </body>
</html>
